@import '../../scss/functions';

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .emoji {
    max-width: rem(30px);
  }

  &.error-url {
    min-height: 100dvh;

    .emoji {
      max-width: rem(100px);
    }

    h1 {
      font-size: rem(64px);
      line-height: rem(16px);
      margin-bottom: 60px;
    }

    h2 {
      margin-bottom: 32px;
    }

    .btn {
      padding: 24px 50px;
    }
  }
}
