@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/mq-size';

$burger-placement: -8px;

.burger-basic {
  width: rem(25px);
  height: 3px;
  background-color: $color-primary;
  position: absolute;
}

.menu-burger {
  width: rem(30px);
  height: rem(30px);

  &.btn {
    display: none;

    @include mq-size($medium) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .menu-burger-item {
    @extend .burger-basic;
    @include transition;

    &::before,
    &::after {
      content: '';
      display: block;

      @extend .burger-basic;

      transition: transform 0s 0.1s ease-in-out;
    }

    &::before {
      top: $burger-placement;
    }

    &::after {
      bottom: $burger-placement;
    }
  }

  &.is-active {
    .menu-burger-item {
      background-color: transparent;
      transform: rotateY(180deg);

      &::before {
        transform: translate3d(0, 10px, 0) rotate(45deg);
        top: -10px;
      }

      &::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg);
        bottom: -10px;
      }
    }
  }
}
